<main class="min-h-screen relative">
  <mat-toolbar color="primary">
    <div class="flex gap-[20px] w-full justify-between md:justify-start">
      <div class="flex items-center">
        <button mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
        <span>My App</span>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center h-full">
          <button mat-button [matMenuTriggerFor]="SecondMenu">First Menu</button>
          <mat-menu #SecondMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu1">SecondMenu1</button>
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu2">SecondMenu2</button>
          </mat-menu>

          <mat-menu #ThirdMenu1="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ForthMenu1">ThirdMenu1-1</button>
            <button mat-menu-item>ThirdMenu1-2</button>
            <button mat-menu-item>ThirdMenu1-3</button>
            <button mat-menu-item>ThirdMenu1-4</button>
            <button mat-menu-item>ThirdMenu1-5</button>
          </mat-menu>

          <mat-menu #ThirdMenu2="matMenu">
            <button mat-menu-item>ThirdMenu2-1</button>
            <button mat-menu-item>ThirdMenu2-2</button>
            <button mat-menu-item>ThirdMenu2-3</button>
            <button mat-menu-item>ThirdMenu2-4</button>
          </mat-menu>

          <mat-menu #ForthMenu1="matMenu">
            <button mat-menu-item>ForthMenu1-1</button>
            <button mat-menu-item>ForthMenu1-2</button>
          </mat-menu>
        </div>
      </div>
      <div class="md:hidden">
        <button mat-icon-button (click)="sideNavbar.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="h-full">
    <mat-drawer-container class="h-full" [hasBackdrop]="true">
      <mat-drawer #sideNavbar mode="over">
        <div class="h-full p-[5px]">
          <button mat-button [matMenuTriggerFor]="SecondMenu">First Menu</button>
          <mat-menu #SecondMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu1">SecondMenu1</button>
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu2">SecondMenu2</button>
          </mat-menu>

          <mat-menu #ThirdMenu1="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ForthMenu1">ThirdMenu1-1</button>
            <button mat-menu-item>ThirdMenu1-2</button>
            <button mat-menu-item>ThirdMenu1-3</button>
            <button mat-menu-item>ThirdMenu1-4</button>
            <button mat-menu-item>ThirdMenu1-5</button>
          </mat-menu>

          <mat-menu #ThirdMenu2="matMenu">
            <button mat-menu-item>ThirdMenu2-1</button>
            <button mat-menu-item>ThirdMenu2-2</button>
            <button mat-menu-item>ThirdMenu2-3</button>
            <button mat-menu-item>ThirdMenu2-4</button>
          </mat-menu>

          <mat-menu #ForthMenu1="matMenu">
            <button mat-menu-item>ForthMenu1-1</button>
            <button mat-menu-item>ForthMenu1-2</button>
          </mat-menu>
        </div>
      </mat-drawer>
      <router-outlet></router-outlet>

      <div class="w-11/12 lg:w-5/6 mx-auto mt-[20px] mb-[84px] h-[550px]">
        <mat-card class="overflow-hidden" appearance="outlined">
          <mat-card-header style="padding: 0px;">
            <mat-toolbar color="primary">
              <div class="text-sm sm:flex sm:gap-[10px] sm:text-base md:text-lg">
                <p>Angular 17</p>
                <p>Angular Material UI + Tailwind Template</p>
              </div>
            </mat-toolbar>
          </mat-card-header>
          <mat-card-content>
            <div class="sm:flex sm:gap-[20px]">
              <div class="p-[5px]">
                <h3>Angular Material UI Colors (custom-theme.scss)</h3>
                <mat-toolbar style="height: 50px; width: 250px;" color="primary">primary</mat-toolbar>
                <mat-toolbar style="height: 50px; width: 250px;" color="accent">accent</mat-toolbar>
                <mat-toolbar style="height: 50px; width: 250px;" color="warn">warn</mat-toolbar>
              </div>
              <div class="p-[5px]">
                <h3>Tailwind Colors</h3>
                <div class="h-[50px] w-[250px] bg-rose-500 text-white flex items-center p-[10px]">rose-500</div>
                <div class="h-[50px] w-[250px] bg-[#1d4ed8] text-white flex items-center p-[10px]">#1d4ed8</div>
                <div
                  class="h-[50px] w-[250px] bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 text-white flex items-center p-[10px]">
                  indigo-500 purple-500 pink-500</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-drawer-container>
  </div>

  <footer class="absolute bottom-0 w-full z-10">
    <mat-toolbar color="primary">
      <div class="w-full">
        <div class="flex justify-center items-center">
          <span class="text-lg"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="copyright" style="transform: scale(0.7)"></mat-icon>2024 My App</span>
        </div>
        <div class="flex justify-center">
          <span class="text-xs">Made by SSTfoxide</span>
        </div>
      </div>
    </mat-toolbar>
  </footer>
</main>