<main class="min-h-screen relative">
  <!--NavBar-->
  <mat-toolbar color="primary">
    <div class="flex gap-[20px] w-full justify-between md:justify-start">
      <div class="flex items-center">
        <button mat-icon-button>
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
        <span>My App</span>
      </div>
      <div class="hidden md:block">
        <div class="flex items-center h-full">
          <button mat-button [matMenuTriggerFor]="SecondMenu">First Menu</button>
          <mat-menu #SecondMenu="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu1">SecondMenu1</button>
            <button mat-menu-item [matMenuTriggerFor]="ThirdMenu2">SecondMenu2</button>
          </mat-menu>

          <mat-menu #ThirdMenu1="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="ForthMenu1">ThirdMenu1-1</button>
            <button mat-menu-item>ThirdMenu1-2</button>
            <button mat-menu-item>ThirdMenu1-3</button>
            <button mat-menu-item>ThirdMenu1-4</button>
            <button mat-menu-item>ThirdMenu1-5</button>
          </mat-menu>

          <mat-menu #ThirdMenu2="matMenu">
            <button mat-menu-item>ThirdMenu2-1</button>
            <button mat-menu-item>ThirdMenu2-2</button>
            <button mat-menu-item>ThirdMenu2-3</button>
            <button mat-menu-item>ThirdMenu2-4</button>
          </mat-menu>

          <mat-menu #ForthMenu1="matMenu">
            <button mat-menu-item>ForthMenu1-1-1</button>
            <button mat-menu-item>ForthMenu1-1-2</button>
            <button mat-menu-item>ForthMenu1-1-3</button>
          </mat-menu>
        </div>
      </div>
      <div class="md:hidden">
        <button mat-icon-button (click)="sideNavbar.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <div class="h-full">
    <!--SideBar-->
    <mat-drawer-container class="h-full" [hasBackdrop]="true">
      <mat-drawer #sideNavbar mode="over">
        <div class="h-full p-[5px]">
          <button mat-button [matMenuTriggerFor]="SecondMenu">First Menu</button>
        </div>
      </mat-drawer>
      <div class="w-11/12 lg:w-5/6 mx-auto mt-[20px] mb-[84px] min-h-[550px]">
        <!--Page Content-->
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-container>
  </div>
  <!--Footer-->
  <footer class="absolute bottom-0 w-full z-10">
    <mat-toolbar color="primary">
      <div class="w-full">
        <div class="flex justify-center items-center">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="copyright"
            style="transform: scale(0.7)"></mat-icon>
          <span class="text-lg">
            2024 My App
          </span>
        </div>
        <div class="flex justify-center">
          <span class="text-xs">Made by SSTfoxide</span>
        </div>
      </div>
    </mat-toolbar>
  </footer>
</main>

<clock-component></clock-component>